@font-face {
  font-family: 'Akzidenz-Grotesk Pro';
  src: url('../fonts/akzidenzgroteskpro_regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Akzidenz-Grotesk Pro';
  src: url('../fonts/akzidenzgroteskpro_md.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Akzidenz-Grotesk Pro';
  src: url('../fonts/akzidenzgroteskpro_bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'PF Videotext Pro';
  src: url('../fonts/ofont.ru_PF\ Videotext\ Pro.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
